/* [How can I override Bootstrap CSS styles?](https://stackoverflow.com/questions/20721248/how-can-i-override-bootstrap-css-styles)*/
#bootstrap-overrides code {
    /* styling for commands */
    color: green;
}

#bootstrap-overrides tt code{
    /* styling for errors */
    color: #ad2037;
}

#bootstrap-overrides .article-body a {
    /* styling for links */
    color: #1D9BF0;
    text-decoration: none;
}

#bootstrap-overrides .article-body a:hover{
    /* styling for links */
    color: #1D9BF0;
    text-decoration: currentcolor solid underline;
}

img {
    width: 100%;
}

#header-image {
    background-size: cover;
    background-position: left;
}

#page-indicator {
    font-size: 0.7rem;
}