/* [How can I override Bootstrap CSS styles?](https://stackoverflow.com/questions/20721248/how-can-i-override-bootstrap-css-styles)*/
:root {
    --blue: #1D9BF0;
    --red: #ad2037;
    --teal: #0085a1;
    --white: #fff;
    --mid-dark-grey: #212529;;
    --lime: rgba(0,255,0,.75);
}

[id="bootstrap-overrides"] code {
    /* styling for commands */
    color: green;
}

[id="bootstrap-overrides"] samp{
    /* styling for errors */
    color: var(--red);
}

[id="bootstrap-overrides"] .article-body a {
    /* styling for links */
    color: var(--blue);
    text-decoration: none;
}

[id="bootstrap-overrides"] .article-body a:hover{
    /* styling for links */
    color: var(--blue);
    text-decoration: currentcolor solid underline;
}

/* Pagination button styling*/

:is(.pagination, #page-indicator) {
    font-size: 0.8rem;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

[id="bootstrap-overrides"] .pagination .page-link.active, .active > .page-link {
    color: var(--white);
    background-color: var(--teal);
    border-color: var(--teal);
}


/*
#bootstrap-overrides .pagination > .active > a {
    color: var(--white);
    background-color: var(--teal);
    border: solid 1px var(--teal);
}


#bootstrap-overrides .active > a) {
    color: var(--white);
    background-color: var(--teal);
    border: solid 1px var(--teal);
}

#bootstrap-overrides .pagination ~ a {
  color: var(--lime) !important;
}



#bootstrap-overrides .pagination > .active > a {
    color: var(--white);
    background-color: var(--teal);
    border: solid 1px var(--teal);
}

#bootstrap-overrides .pagination > li > a {
    color: var(--teal);
}

#bootstrap-overrides .pagination > .disabled {
    color: var(--teal);
}
*/


img {
    width: 100%;
}

#header-image {
    background-size: cover;
    background-position: left;
}

#page-indicator {
    font-size: 0.7rem;
}